.productsDetails
{
    margin-top: 50px;
}

.productsDetails h2
{
    font-size: 1.8rem;
    margin-bottom: 10px;
}

.productRating span i
{
    color: coral;
}

.productRating p span
{
    color: coral;
    font-weight: 600;
}
.productPrice
{
    font-size: 1.3rem;
    font-weight: 500;
}

.buyBTN
{
    background-color: var(--primary-color);
    color: #fff;
    font-weight: 600;
    border: 1px solid var(--primary-color);
    border-radius: 10px;
    width: 200px;
    height: 45px;
}

.tabWrraper h6
{
    color: var(--primary-color);
    font-weight: 500;
    font-size: 1rem;
    cursor: pointer;
}
.activeTab
{
    font-weight: 700;
}
.tabContent p
{
    line-height: 30px;

}
.reviewWrapper ul li span
{
    color: coral;
    font-weight: 600;
}

.reviewWrapper ul li p
{
    margin-top: 10px;

}

.reviewForm
{
    width: 70%;
    margin: auto;
    margin-top: 50px;
}

.reviewForm h4
{
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 30px;

}

.formGroup input, .formGroup textarea
{
    width: 100%;
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    padding: 8px 20px;
}
.formGroup input:focus, .formGroup textarea:focus
{
    outline: none;
}

.formGroup
{
    margin-bottom: 30px;
}

.formGroup span
{
    display: flex;
    align-items: center;
    column-gap: 5px;
    color: coral;
    font-weight: 600;
    cursor: pointer;
}

.relatedTitle
{
    font-size: 1.2rem;
    font-weight: 600;
    margin-top: 30px;
}